.imagem{
    size: 100px;
 }
 
 h1{
   position: absolute;
   height: 200%; 
   top: 10%;
   left: 40%;
   font-size: 300%;
   
 }
 
 .botao_clique{
   position: absolute;
   left: 42.5%;
   font-size: 250%;
   top: 35%;
 }
 
 .botoes{
   position: absolute;
   padding: 10%;
   top: 40%;
   font-size: 100px;
   left: 25%;
   align-items: center;
   justify-content: space-between;
 }
 .botao1{
    padding: 2%;
    font-size: 25%;
 }
 .botao2{
    padding: 2%;
    font-size: 25%;
 }
 .botao3{
    padding: 2%;
    font-size: 25%;
 }
 .botao4{
    padding: 2%;
    font-size: 25%;
 }
