.imagem{
    size: 100px;
 }
 
 h1{
   position: absolute;
   height: 200%; 
   top: 10%;
   left: 40%;
   font-size: 300%;
   
 }
 
 .botao_clique{
   position: absolute;
   left: 42%;
   font-size: 250%;
   top: 35%;
 }
 
 .botoes{
   position: absolute;
   padding: 10%;
   top: 50%;
   font-size: 1000%;
   left: 35%;
 
 
 }
